@use "../Varaibles/varaibles.scss";

.content-layout {
  min-height: 100vh;
  width: 100%;
  @media (min-width: 768px) {
    background-color: #fafafa;
  }

  .custom-sider.ant-layout-sider-zero-width {
    display: hidden;
    margin-left: -40px;
  }

  .custom-sider {
    background-color: #fafafa;
    position: fixed;
    height: 100vh;
    width: 120px !important;
    padding: 14px 10px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    z-index: 30;
    // opacity: 0;

    @media (min-width: 768px) {
      padding: 20px 16px;
      height: 100vh;
      overflow-y: auto;
      border-right: none;
      border-radius: none;
    }

    .ant-layout-sider-children {
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      z-index: 10;

      .sidebar-top {
        .sidebar-cancel-button {
          svg {
            width: 45px;
          }

          @media (min-width: 768px) {
            display: none;
          }
        }
      }

      .ant-menu {
        background-color: transparent;
        border-inline-end: none;
        display: flex;
        flex-direction: column;
        gap: 3px;
        justify-content: center;
        align-items: center;

        .ant-menu-item {
          color: #1a1b1db2;
          height: 32px;
          transition: all;
          transition-duration: 300ms;
          transition-behavior: ease;
          padding: 4px 10px !important;
          cursor: pointer;
          font-size: "14px";
          font-weight: 500;

          .svg {
            color: #1a1b1db2;
          }

          span {
            display: flex;
            align-items: center;
            gap: 8px;
          }

          &:hover {
            background-color: #f4f4f4;
            box-shadow: 0px 0px 0px 1px #12376914;
            box-shadow: 0px 1px 2px 0px #2a3b511f;
          }

          &.ant-menu-item-selected {
            background: linear-gradient(0deg, #ffffff, #ffffff),
              linear-gradient(
                180deg,
                rgba(223, 225, 231, 0) 0%,
                rgba(223, 225, 231, 0.05) 100%
              );
            box-shadow: 0px 0px 0px 1px #12376914;
            box-shadow: 0px 1px 2px 0px #2a3b511f;
            color: #1a1b1d;

            .svg {
              color: #1a1b1d;
            }
          }
        }
        .notification {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          gap: 8px;

          .count-icon {
            color: white;
            background: #ff1507;
            font-weight: 500;
            border-radius: 100%;
            font-size: 11px;
            height: 20px;
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .ant-menu-submenu-title {
          color: #001529;

          &:hover {
            color: #1890ff;
          }
        }

        .ant-menu-sub {
          background-color: none !important;
        }
      }

      .sidebar-bottom {
        margin-bottom: 50px;
        padding-top: 16px;

        @media (min-width: 768px) {
          padding-top: 32px;
        }
        .popover {
          width: 100%;
          margin-top: 16px;
          // display: flex;
          gap: 8px;
          // justify-content: space-between;
          // align-items: center;
          background-color: white;
          padding: 10px 6px;
          margin-bottom: 55px;
          border-radius: 8px;
          transition: all;
          transition-duration: 300ms;
          transition-behavior: ease;
          cursor: pointer;

          &:hover {
            background-color: #f4f4f4;
          }

          @media (min-width: 768px) {
            margin-top: 32px;
            margin-bottom: 0;
          }

          .icon-text {
            display: flex;
            align-items: center;
            gap: 8px;

            .initials {
              color: #201e43;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 800;
              font-size: "14px";
              width: 39px;
              height: 39px;
              border-radius: 4px;
              background: #eee;
            }
            .others {
              p:first-child {
                font-weight: 500;
                color: #0d0d0d;
                font-size: "14px";
              }
              p:last-child {
                font-size: "10px";
                color: #1a1b1d80;
                text-decoration: none;
                margin-top: 0px;
              }
            }
          }
        }
      }
    }
  }

  .page-container {
    min-height: 100vh;
    padding-top: 16px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    position: relative;

    @media (min-width: 768px) {
      background-color: #fafafa;
      padding: 10px 10px 10px 125px;
    }

    .mobile-transparent-background {
      position: fixed;
      height: 100vh;
      width: 100vh;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.6) 27%,
        rgba(0, 0, 0, 0.6) 100%
      );
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &.show {
        display: block;
        z-index: 20;
        @media (min-width: 768px) {
          display: none;
        }
      }
      &.hide {
        display: none;
        @media (min-width: 768px) {
          display: none;
        }
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    .content-container {
      border-radius: 24px;
      background: white;
      width: 95%;
      padding: 0;
      margin: 0 auto;

      @media (min-width: 768px) {
        border: 1px solid #f0f0f0;
        width: 100%;
      }

      main {
        @media (min-width: 768px) {
          padding: 18px 32px;
        }
      }
    }
  }
}

.ant-menu {
  font-size: 10px;
  background-color: #5f38fa;
}

.content-layout .custom-sider .ant-layout-sider-children .ant-menu {
  gap: 7px;
}

// .ant-layout-sider .ant-layout-sider-light .custom-sider {
//   width: 150px !important;
//   min-width: 150px !important;
//   max-width: 150px !important;
// }

.content-layout .custom-sider {
  width: 120px !important;
  min-width: 120px !important;
  max-width: 120px !important;
}

.content-layout
  .custom-sider
  .ant-layout-sider-children
  .ant-menu
  .ant-menu-item {
  height: 45px !important;
  // background-color: #1890ff;
  text-align: center !important;
  width: 100%;
}

.ant-menu-inline.ant-menu-root .ant-menu-item {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}

.ant-menu-title-content {
  margin-left: 0px !important;
}
